<?php if ($this->isEnabled()) : ?>
<div class="block">
    <div class="block-title">
        <strong><?php echo $this->__('Hello World'); ?></strong>
    </div>
    <div class="block-content">
        <p><a href="<?php echo $this->getHelloworldUrl(); ?>"
title="<?php echo $this->__('Hello World'); ?>"><?php echo
                $this->getMessage(); ?></a></p>
    </div>
</div>
<?php endif; ?>
